# POKY_BBLAYERS_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
POKY_BBLAYERS_CONF_VERSION = "2"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

GEOPHONE_LAYER_DIR = "${@os.path.abspath(os.path.join("${TOPDIR}", os.pardir))}"

BBLAYERS ?= " \
    ${GEOPHONE_LAYER_DIR}/geophone/meta \
    ${GEOPHONE_LAYER_DIR}/geophone/meta-poky \
    ${GEOPHONE_LAYER_DIR}/geophone/meta-openembedded/meta-oe \
    ${GEOPHONE_LAYER_DIR}/geophone/meta-openembedded/meta-multimedia \
    ${GEOPHONE_LAYER_DIR}/geophone/meta-openembedded/meta-networking \
    ${GEOPHONE_LAYER_DIR}/geophone/meta-openembedded/meta-perl \
    ${GEOPHONE_LAYER_DIR}/geophone/meta-openembedded/meta-python \
    ${GEOPHONE_LAYER_DIR}/geophone/meta-openembedded/meta-webserver \
    ${GEOPHONE_LAYER_DIR}/geophone/meta-swupdate \
    ${GEOPHONE_LAYER_DIR}/geophone/meta-raspberrypi \
    ${GEOPHONE_LAYER_DIR}/geophone/meta-donkeycar \
"